[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
