[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
